{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>
    <div id="catagory-sub-header">
        <div style="font-size:36px; margin-left: 50px;">{{ catagory }}</div>
        <div style="margin-right: 150px;">
            <label style="font-size:26px; font-weight: 600;">Sort By</label>
            <select name="sort" id="sort">
                <option value="Newest-Release">Newest Release</option>
                <option value="Oldest-Release">Oldest Release</option>
                <option value="Price-low-to-high" selected>Price low to high</option>
                <option value="Price-high-to-low">Price high to low</option>
            </select>
        </div>
    </div>
    
    <div id="catagory-item-row">
    {% for items in item_list %}

        <a id="main-item-container" href="{% url 'item' items.id %}">
            <div id="main-item-image-box">
                <img id="main-item-image" src="{{ items.Image.url }}" alt="">
            </div>
            <div id="main-item-cost">${{ items.Price }}</div>
        </a>

    {% endfor %}
    </div>


    <footer></footer>
</body>

{% endblock %}