{% extends 'main.html' %}
{% load static %}

{% block content %}
<body>

    <div id="specials-box">
        <img id="specials-img" src="">
    </div>


    <div id = "main-catagory-container">
        <div id="main-catagory-title">Catagory 1</div>
        <div id="main-item-row">

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>


            <div class="unselectable" style="font-size: 60px;">></div>



        </div>


        <a href="{% url 'catagory' %}">see all</a>


    </div>

    <div id = "main-catagory-container">
        <div id="main-catagory-title">Catagory 2</div>
        <div id="main-item-row">

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>


            <div class="unselectable" style="font-size: 60px;">></div>



        </div>


        <a href="{% url 'catagory' %}">see all</a>


    </div>

    <div id = "main-catagory-container">
        <div id="main-catagory-title">Catagory 3</div>
        <div id="main-item-row">

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>


            <div class="unselectable" style="font-size: 60px;">></div>



        </div>


        <a href="{% url 'catagory' %}">see all</a>


    </div>

    <div id = "main-catagory-container">
        <div id="main-catagory-title">Catagory 4</div>
        <div id="main-item-row">

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>

            <a id="main-item-container" href="{% url 'item' %}">
                <div id="main-item-image-box">
                    <img id="main-item-image" src="" alt="">
                </div>
                <div id="main-item-cost">$0.00</div>
            </a>


            <div class="unselectable" style="font-size: 60px;">></div>



        </div>


        <a href="{% url 'catagory' %}">see all</a>


    </div>

    <footer>
    </footer>
</body>
</html>
{% endblock %}