{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>
    <div id="item-container">
        <div id="item-images-container">
            <div id="large-image-container">
                <div style="font-size: 50px;">/</div>
                <div id="large-image-box">
                    <img id="large-image" src="{{ item.Image.url }}" alt="">
                </div>
                <div style="font-size: 50px;">></div>
            </div>
            <div id="small-image-container">
                <div class="small-image-box">
                    <img class="small-image" src="" alt="">
                </div>
                <div class="small-image-box">
                    <img class="small-image" src="" alt="">
                </div>
                <div class="small-image-box">
                    <img class="small-image" src="" alt="">
                </div>                
                <div class="small-image-box">
                    <img class="small-image" src="" alt="">
                </div>
                <div class="small-image-box">
                    <img class="small-image" src="" alt="">
                </div>
            </div>
        </div>

        <div id="item-options-container">
            <div id="item-name">{{item.ItemName}}</div>
            <div id="size-container">
                <div id="XS" class="size" onclick="test('XS')">XS</div>
                <div id="S" class="size" onclick="test('S')">S</div>
                <div id="M" class="size" onclick="test('M')">M</div>
                <div id="L" class="size" onclick="test('L')">L</div>
                <div id="XL" class="size" onclick="test('XL')">XL</div>
            </div>

            <div id="item-cost">${{item.Price}}</div>

            <div id="item-stock">Stock: </div>

            <div class="buy-item-button">Add to Cart</div>
            <div class="buy-item-button">Buy Now</div>
        </div>
    </div>

    <div style="margin-top: 30px; font-size: 22px; margin-left: 20%; margin-right: 20%;">Description</div>
    <div style="margin-top: 30px; font-size: 14px; margin-left: 20%; margin-right: 20%;">{{item.Description}}</div>

    <script>

        function test(size){
            console.log("testing");
            reset('XS');
            reset('S');
            reset('M');
            reset('L');
            reset('XL');
            document.getElementById(size).style.backgroundColor = "black";
            document.getElementById(size).style.color = "white";
            if (size == "XS"){
                document.getElementById('item-stock').textContent = "Stock: " + {{item.Stock_XS}}
            }
            if (size == "S"){
                document.getElementById('item-stock').textContent = "Stock: " + {{item.Stock_S}}
            }
            if (size == "M"){
                document.getElementById('item-stock').textContent = "Stock: " + {{item.Stock_M}}
            }
            if (size == "L"){
                document.getElementById('item-stock').textContent = "Stock: " + {{item.Stock_L}}
            }
            if (size == "XL"){
                document.getElementById('item-stock').textContent = "Stock: " + {{item.Stock_XL}}
            }
        }

        function reset(size){
            document.getElementById(size).style.backgroundColor = "white";
            document.getElementById(size).style.color = "black";

        }

    </script>

    <footer></footer>
</body>

{% endblock %}